Repository lcompilers/lpython, pull requests merged in 2022-07, with the labels that each got.

#727 Fix argument parser in pass manager
  src/libasr/pass/pass_manager.h
Labels: asr, asr_pass

#742 Split ArrayRef into ArrayItem and ArraySection
  src/libasr/ASR.asdl
  src/libasr/asr_verify.cpp
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/pass/arr_slice.cpp
  src/libasr/pass/array_op.cpp
  src/libasr/pass/implied_do_loops.cpp
  src/libasr/pass/loop_vectorise.cpp
  src/libasr/pass/pass_utils.cpp
  src/libasr/pass/pass_utils.h
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/reference/asr-bindc_02-bc1a7ea.json
  tests/reference/asr-bindc_02-bc1a7ea.stdout
  tests/reference/asr-doconcurrentloop_01-3fdc189.json
  tests/reference/asr-doconcurrentloop_01-3fdc189.stdout
  tests/reference/asr-subscript1-1acfc19.json
  tests/reference/asr-subscript1-1acfc19.stdout
  tests/reference/asr-vec_01-66ac423.json
  tests/reference/asr-vec_01-66ac423.stdout
  tests/reference/pass_loop_vectorise-vec_01-be9985e.json
  tests/reference/pass_loop_vectorise-vec_01-be9985e.stdout
Labels: c, asr, llvm, asr_pass

#718 Support arrays of Structs
  .gitignore
  integration_tests/CMakeLists.txt
  integration_tests/structs_05.py
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/reference/asr-structs_05-fa98307.json
  tests/reference/asr-structs_05-fa98307.stdout
  tests/tests.toml
Labels: c, asr, llvm

#738 Support passing python pointers to Functions
  .gitignore
  integration_tests/CMakeLists.txt
  integration_tests/expr_12.py
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/reference/asr-expr_12-6769be0.json
  tests/reference/asr-expr_12-6769be0.stdout
  tests/reference/c-expr_12-93c7780.json
  tests/reference/c-expr_12-93c7780.stdout
  tests/tests.toml
Labels: c, asr, llvm

#677 Integrating Language Server to LPython
  .github/workflows/CI.yml
  CMakeLists.txt
  build1.sh
  ci/build.xsh
  src/bin/lpython.cpp
  src/libasr/CMakeLists.txt
  src/libasr/config.h.in
  src/libasr/lsp/JSONRPC2Connection.cpp
  src/libasr/lsp/JSONRPC2Connection.hpp
  src/libasr/lsp/LPythonServer.cpp
  src/libasr/lsp/LPythonServer.hpp
Labels: enhancement

#734 [Parser] Parse raw strings
  src/lpython/parser/semantics.h
  tests/parser/string1.py
  tests/reference/ast_new-string1-96b90b3.json
  tests/reference/ast_new-string1-96b90b3.stdout
Labels: Parser

#765 Adding support for multi-dimensional arrays in ASR
  .gitignore
  integration_tests/CMakeLists.txt
  integration_tests/array_02_decl.py
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/asr_to_cpp.cpp
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/reference/asr-array_02_decl-e8f6874.json
  tests/reference/asr-array_02_decl-e8f6874.stdout
  tests/reference/c-expr_12-93c7780.json
  tests/reference/c-expr_12-93c7780.stdout
  tests/tests.toml
Labels: asr

#773 [New] Handle Boolop operands similar to CPython AST
  src/lpython/parser/semantics.h
  tests/parser/statements2.py
  tests/reference/ast_new-statements2-c4cdc5f.json
  tests/reference/ast_new-statements2-c4cdc5f.stdout
  tests/tests.toml
Labels: Parser

#774 Fix parsing for list comprehensions (bison) - New Parser
  src/lpython/parser/parser.yy
  tests/parser/comprehension1.py
  tests/reference/ast_new-comprehension1-69cf2af.json
  tests/reference/ast_new-comprehension1-69cf2af.stdout
Labels: Parser

#504 Handle printing of logical types in the LLVM backend
  src/libasr/codegen/asr_to_llvm.cpp
  tests/bool1.py
  tests/reference/llvm-bool1-af4376b.json
  tests/reference/llvm-bool1-af4376b.stdout
  tests/tests.toml
Labels: please take over

#579 Expose Default values in Function definition to AST
  src/lpython/parser/parser.yy
  src/lpython/parser/parser_stype.h
  src/lpython/parser/semantics.h
  tests/parser/function_def2.py
  tests/reference/ast_new-function_def2-52c4587.json
  tests/reference/ast_new-function_def2-52c4587.stdout
Labels: Parser

#783 [New Parser] Fix support for `in` for Expressions (w/o breaking `for_statement`)
  src/lpython/parser/parser.yy
  tests/parser/statements1.py
  tests/reference/ast_new-statements1-e081093.json
  tests/reference/ast_new-statements1-e081093.stdout
Labels: Parser

#799 [New] Parse function call in the Subscription
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/function_def2.py
  tests/reference/ast_new-function_def2-52c4587.json
  tests/reference/ast_new-function_def2-52c4587.stdout
Labels: Parser

#798 Adding support for `np.reshape`
  integration_tests/CMakeLists.txt
  integration_tests/test_numpy_03.py
  src/libasr/ASR.asdl
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_cpp.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_array_utils.cpp
  src/libasr/codegen/llvm_array_utils.h
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
  src/libasr/pass/arr_slice.cpp
  src/libasr/pass/array_op.cpp
  src/libasr/pass/implied_do_loops.cpp
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/reference/asr-test_numpy_03-e600a49.json
  tests/reference/asr-test_numpy_03-e600a49.stdout
  tests/tests.toml
Labels: c, asr, llvm

#810 [Parser] Recognise default values (keywords) in `class-def`
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/class_def2.py
  tests/reference/ast_new-class_def2-c6db986.json
  tests/reference/ast_new-class_def2-c6db986.stdout
  tests/tests.toml
Labels: Parser

#809 [Parser] Add support for parsing tuples in `for-loop`
  src/lpython/parser/parser.yy
  tests/parser/for2.py
  tests/reference/ast_new-for2-af08901.json
  tests/reference/ast_new-for2-af08901.stdout
Labels: Parser

#808 [Parser] Fix issue 803
  src/lpython/parser/parser.yy
  tests/parser/function_def3.py
  tests/reference/ast_new-function_def3-f66064a.json
  tests/reference/ast_new-function_def3-f66064a.stdout
  tests/tests.toml
Labels: Parser

#813 Parse Generator expr, sets and Dictionaries Comprehension
  src/lpython/parser/parser.yy
  src/lpython/parser/parser_stype.h
  src/lpython/parser/semantics.h
  tests/parser/comprehension1.py
  tests/reference/ast_new-comprehension1-69cf2af.json
  tests/reference/ast_new-comprehension1-69cf2af.stdout
Labels: Parser

#806 Supporting `np.vectorize` a.k.a `elemental`
  integration_tests/CMakeLists.txt
  integration_tests/elemental_01.py
  src/libasr/ASR.asdl
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/pass/array_op.cpp
  src/libasr/pass/global_stmts.cpp
  src/lpython/semantics/python_ast_to_asr.cpp
  src/lpython/semantics/python_comptime_eval.h
  src/runtime/lpython_intrinsic_numpy.py
  src/runtime/ltypes/ltypes.py
  tests/reference/asr-array_01_decl-39cf894.json
  tests/reference/asr-array_01_decl-39cf894.stdout
  tests/reference/asr-array_02_decl-e8f6874.json
  tests/reference/asr-array_02_decl-e8f6874.stdout
  tests/reference/asr-c_interop1-cf2e9b4.json
  tests/reference/asr-c_interop1-cf2e9b4.stdout
  tests/reference/asr-elemental_01-b58df26.json
  tests/reference/asr-elemental_01-b58df26.stdout
  tests/reference/asr-expr12-5c5b71e.json
  tests/reference/asr-expr12-5c5b71e.stdout
  tests/reference/asr-expr16-a3dc453.json
  tests/reference/asr-expr16-a3dc453.stdout
  tests/reference/asr-expr7-480ba2f.json
  tests/reference/asr-expr7-480ba2f.stdout
  tests/reference/asr-expr9-814e4bc.json
  tests/reference/asr-expr9-814e4bc.stdout
  tests/reference/asr-expr_05-3a37324.json
  tests/reference/asr-expr_05-3a37324.stdout
  tests/reference/asr-expr_10-d39708c.json
  tests/reference/asr-expr_10-d39708c.stdout
  tests/reference/asr-func_inline_01-56af272.json
  tests/reference/asr-func_inline_01-56af272.stdout
  tests/reference/asr-loop1-10d3109.json
  tests/reference/asr-loop1-10d3109.stdout
  tests/reference/asr-test_c_interop_01-e374f43.json
  tests/reference/asr-test_c_interop_01-e374f43.stdout
  tests/reference/asr-test_numpy_03-e600a49.json
  tests/reference/asr-test_numpy_03-e600a49.stdout
  tests/reference/asr-vec_01-66ac423.json
  tests/reference/asr-vec_01-66ac423.stdout
  tests/reference/pass_inline_function_calls-func_inline_01-8b6a5da.json
  tests/reference/pass_inline_function_calls-func_inline_01-8b6a5da.stdout
  tests/reference/pass_loop_vectorise-vec_01-be9985e.json
  tests/reference/pass_loop_vectorise-vec_01-be9985e.stdout
  tests/tests.toml
Labels: asr, llvm, asr_pass

#822 Fix do loop variable type
  integration_tests/loop_01.py
  src/libasr/pass/arr_slice.cpp
  src/libasr/pass/pass_utils.cpp
  src/lpython/semantics/python_ast_to_asr.cpp
Labels: asr, asr_pass

#823 Allowing multi-level imports in LPython
  integration_tests/CMakeLists.txt
  src/libasr/asr_utils.cpp
  src/libasr/asr_utils.h
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/reference/asr-modules_02-ec92e6f.json
  tests/reference/asr-modules_02-ec92e6f.stdout
  tests/tests.toml
Labels: asr

#826 Recognize TypeIgnore and store in the AST
  src/lpython/parser/parser.cpp
  src/lpython/parser/parser.h
  src/lpython/parser/semantics.h
  src/runtime/lpython_parser.py
  tests/parser/function_def3.py
  tests/reference/ast_new-function_def3-f66064a.json
  tests/reference/ast_new-function_def3-f66064a.stdout
Labels: Parser

#833 Parse Empty tuple in the expression
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/if2.py
  tests/reference/ast_new-if2-c3b6022.json
  tests/reference/ast_new-if2-c3b6022.stdout
Labels: Parser

#832 Parse other cases of Subscriptions
  src/lpython/parser/parser.yy
  tests/parser/statements2.py
  tests/reference/ast_new-statements2-c4cdc5f.json
  tests/reference/ast_new-statements2-c4cdc5f.stdout
Labels: Parser

#827 Recognize Lambda expr in the expression
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/lambda1.py
  tests/reference/ast_new-lambda1-260d046.json
  tests/reference/ast_new-lambda1-260d046.stdout
  tests/tests.toml
Labels: Parser

#845 [Parser] Parse `type_comment` in function args
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/function_def3.py
  tests/reference/ast_new-function_def3-f66064a.json
  tests/reference/ast_new-function_def3-f66064a.stdout
Labels: Parser

#841 Recognize string of kind "u"
  src/lpython/parser/semantics.h
  tests/parser/string1.py
  tests/reference/ast_new-string1-96b90b3.json
  tests/reference/ast_new-string1-96b90b3.stdout
Labels: Parser

#843 Parse yield from expression
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  src/lpython/parser/tokenizer.re
  tests/parser/yield.py
  tests/reference/ast_new-yield-4c41668.json
  tests/reference/ast_new-yield-4c41668.stdout
Labels: Parser

#844 Parse type ignore in class definition
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/class_def2.py
  tests/reference/ast_new-class_def2-c6db986.json
  tests/reference/ast_new-class_def2-c6db986.stdout
Labels: Parser

#842 Parse Optional comma's in Dictionaries, subscripts and import statements
  src/lpython/parser/parser.yy
  tests/parser/dictionary1.py
  tests/parser/import1.py
  tests/parser/slice1.py
  tests/parser/statements1.py
  tests/reference/ast_new-dictionary1-445e718.json
  tests/reference/ast_new-dictionary1-445e718.stdout
  tests/reference/ast_new-import1-f643fd3.json
  tests/reference/ast_new-import1-f643fd3.stdout
  tests/reference/ast_new-slice1-9c440e3.json
  tests/reference/ast_new-slice1-9c440e3.stdout
  tests/reference/ast_new-statements1-e081093.json
  tests/reference/ast_new-statements1-e081093.stdout
Labels: Parser

#834 This shows how to parse a tuple
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/tuple1.py
  tests/reference/ast_new-tuple1-29c08af.json
  tests/reference/ast_new-tuple1-29c08af.stdout
  tests/tests.toml
Labels: Parser

#847 [Parser] Add support for parsing strings with all possible `stringprefix`
  src/lpython/parser/semantics.h
  tests/parser/string1.py
  tests/reference/ast_new-string1-96b90b3.json
  tests/reference/ast_new-string1-96b90b3.stdout
Labels: Parser

#848 [Parser] Revert `BoolOp` node generation in the new parser
  src/lpython/parser/semantics.h
  tests/parser/boolOp1.py
  tests/reference/ast_new-boolOp1-478328f.json
  tests/reference/ast_new-boolOp1-478328f.stdout
  tests/reference/ast_new-if2-c3b6022.json
  tests/reference/ast_new-if2-c3b6022.stdout
Labels: Parser

#835 Scaling up lists to different types and supporting `ListConstant` in LLVM
  integration_tests/test_list_01.py
  src/libasr/asr_utils.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_array_utils.cpp
  src/libasr/codegen/llvm_array_utils.h
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
  src/runtime/impure/lfortran_intrinsics.c
Labels: llvm

#851 Implementing tuples in LLVM backend
  integration_tests/CMakeLists.txt
  integration_tests/test_tuple_01.py
  src/libasr/asr_utils.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
Labels: llvm

#849 Parse Subscript calls in the function_call
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/function_def2.py
  tests/reference/ast_new-function_def2-52c4587.json
  tests/reference/ast_new-function_def2-52c4587.stdout
Labels: Parser

#850 [Parser] Properly handle functions with `*` and `/` in the new parser
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/function_def3.py
  tests/reference/ast_new-function_def3-f66064a.json
  tests/reference/ast_new-function_def3-f66064a.stdout
Labels: Parser

#854 Simplify the grammar rules of the parameter_list in Function_def
  src/lpython/parser/parser.yy
  src/lpython/parser/parser_stype.h
  src/lpython/parser/semantics.h
  tests/parser/function_def2.py
  tests/reference/ast_new-function_def2-52c4587.json
  tests/reference/ast_new-function_def2-52c4587.stdout
Labels: Parser
