Repository lcompilers/lpython, pull requests merged in 2022-08, with the labels that each got.

#852 Supporting lists of strings
  integration_tests/CMakeLists.txt
  integration_tests/test_list_01.py
  integration_tests/test_list_02.py
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
Labels: llvm

#858 Implement array function for numpy module
  integration_tests/CMakeLists.txt
  integration_tests/test_numpy_04.py
  src/lpython/semantics/python_ast_to_asr.cpp
  src/lpython/semantics/python_comptime_eval.h
  tests/reference/asr-test_numpy_04-ecbb614.json
  tests/reference/asr-test_numpy_04-ecbb614.stdout
  tests/tests.toml
Labels: asr

#837 Testing and fixing array operation expressions
  integration_tests/CMakeLists.txt
  integration_tests/array_expr_01.py
  integration_tests/array_expr_02.py
  src/libasr/pass/array_op.cpp
  src/lpython/semantics/python_comptime_eval.h
Labels: asr, asr_pass

#879 Supporting initialisation with empty list in ASR
  integration_tests/CMakeLists.txt
  integration_tests/test_list_03.py
  src/libasr/asr_utils.h
  src/libasr/codegen/llvm_utils.cpp
  src/lpython/semantics/python_ast_to_asr.cpp
Labels: asr

#885 [Parser] Add support for `GeneratorExp` nodes (new parser)
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/comprehension1.py
  tests/reference/ast_new-comprehension1-69cf2af.json
  tests/reference/ast_new-comprehension1-69cf2af.stdout
Labels: Parser

#884 Resolve "Case sensitive keywords and not in issue" in the tokenizer
  src/lpython/parser/tokenizer.re
  tests/reference/ast_new-comment2-f0984d5.json
  tests/reference/ast_new-comment2-f0984d5.stdout
  tests/reference/tokens-comment2-b289dad.json
  tests/reference/tokens-comment2-b289dad.stdout
  tests/reference/tokens-symbols1-658c990.json
  tests/reference/tokens-symbols1-658c990.stdout
  tests/tokens/comment2.py
  tests/tokens/symbols1.py
Labels: Parser

#891 Added simplification strategy for computing array length
  src/libasr/asr_utils.h
  tests/reference/asr-array_01_decl-39cf894.json
  tests/reference/asr-array_01_decl-39cf894.stdout
  tests/reference/asr-array_02_decl-e8f6874.json
  tests/reference/asr-array_02_decl-e8f6874.stdout
  tests/reference/asr-bindc_02-bc1a7ea.json
  tests/reference/asr-bindc_02-bc1a7ea.stdout
  tests/reference/asr-doconcurrentloop_01-3fdc189.json
  tests/reference/asr-doconcurrentloop_01-3fdc189.stdout
  tests/reference/asr-elemental_01-b58df26.json
  tests/reference/asr-elemental_01-b58df26.stdout
  tests/reference/asr-expr_12-6769be0.json
  tests/reference/asr-expr_12-6769be0.stdout
  tests/reference/asr-structs_05-fa98307.json
  tests/reference/asr-structs_05-fa98307.stdout
  tests/reference/asr-subscript1-1acfc19.json
  tests/reference/asr-subscript1-1acfc19.stdout
  tests/reference/asr-test_numpy_03-e600a49.json
  tests/reference/asr-test_numpy_03-e600a49.stdout
  tests/reference/asr-test_numpy_04-ecbb614.json
  tests/reference/asr-test_numpy_04-ecbb614.stdout
  tests/reference/asr-vec_01-66ac423.json
  tests/reference/asr-vec_01-66ac423.stdout
  tests/reference/c-expr_12-93c7780.json
  tests/reference/c-expr_12-93c7780.stdout
  tests/reference/cpp-doconcurrentloop_01-4e9f274.json
  tests/reference/cpp-doconcurrentloop_01-4e9f274.stdout
  tests/reference/pass_loop_vectorise-vec_01-be9985e.json
  tests/reference/pass_loop_vectorise-vec_01-be9985e.stdout
Labels: asr

#902 [Parser] Parse lambda expressions
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/lambda2.py
  tests/reference/ast_new-lambda2-d84336e.json
  tests/reference/ast_new-lambda2-d84336e.stdout
  tests/tests.toml
Labels: Parser

#905 [Parser] Fix bug with parsing `key:value` in separate lines
  src/lpython/parser/parser.yy
  tests/parser/dictionary1.py
  tests/reference/ast_new-dictionary1-445e718.json
  tests/reference/ast_new-dictionary1-445e718.stdout
Labels: Parser

#915 Recognize type_ignore within the dictionaries
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  src/lpython/parser/tokenizer.re
  tests/parser/dictionary1.py
  tests/reference/ast_new-dictionary1-445e718.json
  tests/reference/ast_new-dictionary1-445e718.stdout
Labels: Parser

#932 Implement `ListInsert` in the LLVM Backend
  integration_tests/test_list_03.py
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
Labels: llvm

#931 Support `list` iterable in `For` loop
  integration_tests/test_list_01.py
  integration_tests/test_list_02.py
  src/lpython/semantics/python_ast_to_asr.cpp
Labels: asr

#939 Support for accepting and returning tuple types in functions
  integration_tests/CMakeLists.txt
  integration_tests/test_tuple_02.py
  src/libasr/asr_utils.h
  src/libasr/codegen/asr_to_llvm.cpp
Labels: llvm

#936 Implement `ListRemove` in the LLVM Backend
  integration_tests/CMakeLists.txt
  integration_tests/test_list_04.py
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
Labels: llvm

#940 Revamping casting mechanism
  integration_tests/expr_05.py
  src/lpython/semantics/python_ast_to_asr.cpp
  src/runtime/math.py
  src/runtime/statistics.py
  tests/reference/asr-expr16-a3dc453.json
  tests/reference/asr-expr16-a3dc453.stderr
  tests/reference/asr-expr16-a3dc453.stdout
  tests/reference/asr-expr3-10eb0a4.json
  tests/reference/asr-expr3-10eb0a4.stderr
  tests/reference/asr-expr3-10eb0a4.stdout
  tests/reference/asr-expr_05-3a37324.json
  tests/reference/cpp-expr3-9c516d4.json
  tests/reference/cpp-expr3-9c516d4.stdout
  tests/tests.toml
Labels: asr

#966 Simplifying registering passes in ``pass_manager.h``
  src/bin/lpython.cpp
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_cpp.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/asr_to_x86.cpp
  src/libasr/pass/arr_slice.cpp
  src/libasr/pass/arr_slice.h
  src/libasr/pass/array_op.cpp
  src/libasr/pass/array_op.h
  src/libasr/pass/class_constructor.cpp
  src/libasr/pass/class_constructor.h
  src/libasr/pass/dead_code_removal.cpp
  src/libasr/pass/dead_code_removal.h
  src/libasr/pass/div_to_mul.cpp
  src/libasr/pass/div_to_mul.h
  src/libasr/pass/do_loops.cpp
  src/libasr/pass/do_loops.h
  src/libasr/pass/flip_sign.cpp
  src/libasr/pass/flip_sign.h
  src/libasr/pass/fma.cpp
  src/libasr/pass/fma.h
  src/libasr/pass/for_all.cpp
  src/libasr/pass/for_all.h
  src/libasr/pass/global_stmts.cpp
  src/libasr/pass/global_stmts.h
  src/libasr/pass/global_stmts_program.cpp
  src/libasr/pass/global_stmts_program.h
  src/libasr/pass/implied_do_loops.cpp
  src/libasr/pass/implied_do_loops.h
  src/libasr/pass/inline_function_calls.cpp
  src/libasr/pass/inline_function_calls.h
  src/libasr/pass/loop_unroll.cpp
  src/libasr/pass/loop_unroll.h
  src/libasr/pass/loop_vectorise.cpp
  src/libasr/pass/loop_vectorise.h
  src/libasr/pass/param_to_const.cpp
  src/libasr/pass/param_to_const.h
  src/libasr/pass/pass_array_by_data.cpp
  src/libasr/pass/pass_array_by_data.h
  src/libasr/pass/pass_manager.h
  src/libasr/pass/print_arr.cpp
  src/libasr/pass/print_arr.h
  src/libasr/pass/select_case.cpp
  src/libasr/pass/select_case.h
  src/libasr/pass/sign_from_value.cpp
  src/libasr/pass/sign_from_value.h
  src/libasr/pass/unused_functions.cpp
  src/libasr/pass/unused_functions.h
  src/libasr/pass/update_array_dim_intrinsic_calls.cpp
  src/libasr/pass/update_array_dim_intrinsic_calls.h
  src/libasr/utils.h
  src/lpython/semantics/python_ast_to_asr.cpp
Labels: asr_pass

#976 [Parser] Fix bug with comment in multiline statements
  src/lpython/parser/parser.yy
  tests/parser/if1.py
  tests/reference/ast_new-if1-db43586.json
  tests/reference/ast_new-if1-db43586.stdout
Labels: Parser

#980 Parse tuples in the expression
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/comprehension1.py
  tests/parser/for2.py
  tests/parser/statements1.py
  tests/parser/tuple1.py
  tests/parser/yield.py
  tests/reference/ast_new-comprehension1-69cf2af.json
  tests/reference/ast_new-comprehension1-69cf2af.stdout
  tests/reference/ast_new-for2-af08901.json
  tests/reference/ast_new-for2-af08901.stdout
  tests/reference/ast_new-statements1-e081093.json
  tests/reference/ast_new-statements1-e081093.stdout
  tests/reference/ast_new-tuple1-29c08af.json
  tests/reference/ast_new-tuple1-29c08af.stdout
  tests/reference/ast_new-yield-4c41668.json
  tests/reference/ast_new-yield-4c41668.stdout
Labels: Parser

#985 Parse tuples in the with statement contents
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/with1.py
  tests/reference/ast_new-with1-6c88c0f.json
  tests/reference/ast_new-with1-6c88c0f.stdout
Labels: Parser

#988 Implement String literal concatenation
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/string1.py
  tests/reference/ast_new-string1-96b90b3.json
  tests/reference/ast_new-string1-96b90b3.stdout
Labels: Parser

#990 Implement separate chaining implicitly via linear probing
  integration_tests/test_dict_01.py
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
Labels: llvm

#995 [Parser] Recognise tuple subscript
  src/lpython/parser/parser.yy
  tests/parser/tuple1.py
  tests/reference/ast_new-tuple1-29c08af.json
  tests/reference/ast_new-tuple1-29c08af.stdout
Labels: Parser

#994 [Parser] Recognise lists and tuples in `GenExpr`
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/comprehension1.py
  tests/reference/ast_new-comprehension1-69cf2af.json
  tests/reference/ast_new-comprehension1-69cf2af.stdout
Labels: Parser

#993 [Parser] Recognise `ListComprehension` Subscript
  src/lpython/parser/parser.yy
  tests/parser/statements2.py
  tests/reference/ast_new-statements2-c4cdc5f.json
  tests/reference/ast_new-statements2-c4cdc5f.stdout
Labels: Parser

#997 Recognize type_ignore in the statements
  src/lpython/parser/parser.yy
  src/lpython/parser/tokenizer.re
  tests/parser/type_comment1.py
  tests/reference/ast_new-type_comment1-710ea6c.json
  tests/reference/ast_new-type_comment1-710ea6c.stdout
Labels: Parser

#1010 Fix CI in main branch
  tests/reference/asr-expr_09-f3e89c8.json
  tests/reference/asr-expr_09-f3e89c8.stdout
Labels: CI

#998 Recognize dictionary unpacking operation
  src/lpython/parser/parser.yy
  src/runtime/lpython_parser.py
  tests/parser/dictionary1.py
  tests/reference/ast_new-dictionary1-445e718.json
  tests/reference/ast_new-dictionary1-445e718.stdout
Labels: Parser

#1013 [Tokenizer] Fix black slash issue in the string
  src/lpython/parser/tokenizer.re
  tests/parser/string2.py
  tests/reference/ast_new-string2-44323ea.json
  tests/reference/ast_new-string2-44323ea.stdout
  tests/tests.toml
Labels: Parser

#1014 Recognize `\t` as an indent
  src/lpython/parser/tokenizer.re
  tests/reference/tokens-indent2-e702789.json
  tests/reference/tokens-indent2-e702789.stdout
  tests/tokens/indent2.py
Labels: Parser

#1016 Fix some parser issues
  src/lpython/parser/parser.yy
  tests/parser/class_def2.py
  tests/parser/tuple1.py
  tests/reference/ast_new-class_def2-c6db986.json
  tests/reference/ast_new-class_def2-c6db986.stdout
  tests/reference/ast_new-tuple1-29c08af.json
  tests/reference/ast_new-tuple1-29c08af.stdout
Labels: Parser

#999 Saving LPython's intrinsic modules as ``pyc`` files
  CMakeLists.txt
  src/bin/CMakeLists.txt
  src/bin/lpython.cpp
  src/libasr/modfile.cpp
  src/libasr/modfile.h
  src/libasr/serialization.cpp
  src/libasr/serialization.h
  src/lpython/semantics/python_ast_to_asr.cpp
  src/lpython/semantics/python_ast_to_asr.h
Labels: asr

#1011 Implementing ``dict.pop`` for LLVM backend
  integration_tests/test_dict_02.py
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
Labels: llvm

#1034 Recognize `await` and `yield` as an expression
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/async1.py
  tests/parser/yield.py
  tests/reference/ast_new-async1-b3d07ed.json
  tests/reference/ast_new-async1-b3d07ed.stdout
  tests/reference/ast_new-yield-4c41668.json
  tests/reference/ast_new-yield-4c41668.stdout
Labels: Parser

#1040 Tokenize Hex, Oct, Bin, real and imag with "_"
  src/lpython/parser/tokenizer.re
  tests/reference/tokens-numbers1-589063f.json
  tests/reference/tokens-numbers1-589063f.stdout
  tests/tokens/numbers1.py
Labels: Parser

#1042 Recognize multiple if_stmt in the comprehension
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/comprehension1.py
  tests/reference/ast_new-comprehension1-69cf2af.json
  tests/reference/ast_new-comprehension1-69cf2af.stdout
Labels: Parser

#1044 WASM: Support building to wasm
  .github/workflows/CI.yml
  .gitignore
  CMakeLists.txt
  build_to_wasm.sh
  src/bin/CMakeLists.txt
  src/lpython/CMakeLists.txt
  src/lpython/utils.cpp
Labels: CI, wasm

#1046 WASM, WAT: Add wasm and wat backends
  run_tests.py
  src/bin/lpython.cpp
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/asr_to_wasm.h
  src/libasr/codegen/wasm_assembler.h
  src/libasr/codegen/wasm_to_wat.cpp
  src/libasr/codegen/wasm_to_wat.h
  src/libasr/codegen/wasm_utils.cpp
  src/libasr/codegen/wasm_utils.h
  tests/reference/wat-bool1-234bcd1.json
  tests/reference/wat-bool1-234bcd1.stdout
  tests/reference/wat-expr14-5e0cb96.json
  tests/reference/wat-expr14-5e0cb96.stdout
  tests/reference/wat-expr2-8b17723.json
  tests/reference/wat-expr2-8b17723.stdout
  tests/reference/wat-expr9-f73afd1.json
  tests/reference/wat-expr9-f73afd1.stdout
  tests/reference/wat-loop1-e0046d4.json
  tests/reference/wat-loop1-e0046d4.stdout
  tests/tests.toml
Labels: wasm, wat

#1053 [Parser] Recognise `starred_id` as a valid `id_item`
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/comprehension1.py
  tests/reference/ast_new-comprehension1-69cf2af.json
  tests/reference/ast_new-comprehension1-69cf2af.stdout
Labels: Parser

#1052 [Parser] Parse `@=`
  src/lpython/parser/parser.yy
  tests/parser/statements2.py
  tests/reference/ast_new-statements2-c4cdc5f.json
  tests/reference/ast_new-statements2-c4cdc5f.stdout
Labels: Parser

#1068 [Parser] Fix a bug in tokenizer related to docstring
  src/lpython/parser/tokenizer.re
  tests/parser/string2.py
  tests/reference/ast_new-string2-44323ea.json
  tests/reference/ast_new-string2-44323ea.stdout
Labels: Parser
