Repository lcompilers/lpython, pull requests merged in 2022-06, with the labels that each got.

#552 Parse while statement
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/while1.py
  tests/reference/ast_new-while1-a4c6382.json
  tests/reference/ast_new-while1-a4c6382.stdout
  tests/tests.toml
Labels: Parser

#557 [Parser] Rules for expressions containing `is` and `is not`
  src/lpython/parser/parser.yy
  src/lpython/parser/tokenizer.re
  tests/parser/statements1.py
  tests/reference/ast_new-statements1-e081093.json
  tests/reference/ast_new-statements1-e081093.stdout
Labels: Parser

#559 Supporting array pointers in ``c_p_pointer``
  .gitignore
  integration_tests/CMakeLists.txt
  integration_tests/bindc_01.py
  integration_tests/bindc_02.py
  src/libasr/ASR.asdl
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/pass/arr_slice.cpp
  src/libasr/pass/array_op.cpp
  src/libasr/pass/implied_do_loops.cpp
  src/lpython/semantics/python_ast_to_asr.cpp
  src/runtime/ltypes/ltypes.py
  tests/reference/asr-bindc_01-6d521a9.json
  tests/reference/asr-bindc_02-bc1a7ea.json
  tests/reference/asr-bindc_02-bc1a7ea.stdout
  tests/reference/llvm-bindc_01-c984f09.json
  tests/reference/llvm-bindc_01-c984f09.stdout
  tests/reference/llvm-bindc_02-3cf74e9.json
  tests/reference/llvm-bindc_02-3cf74e9.stdout
  tests/tests.toml
Labels: c

#600 Enabling ``c`` backend for ``test_c_interop_04.py``
  .gitignore
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
Labels: c

#601 Enabled ``c`` backend for ``test_c_interop_05.py``
  .gitignore
  integration_tests/CMakeLists.txt
Labels: c

#604 Enabling C backend for integration_tests
  .gitignore
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/asr_to_cpp.cpp
Labels: c

#605 Enabling C backend for ``integration_tests/bindc_02.py``
  .gitignore
  integration_tests/CMakeLists.txt
  integration_tests/bindc_02.py
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  tests/reference/asr-bindc_02-bc1a7ea.json
  tests/reference/asr-bindc_02-bc1a7ea.stdout
  tests/reference/llvm-bindc_02-3cf74e9.json
  tests/reference/llvm-bindc_02-3cf74e9.stdout
Labels: c

#613 Initialisation support for ``@dataclass``
  integration_tests/structs_01.py
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/reference/asr-structs_01-be14d49.json
  tests/reference/asr-structs_01-be14d49.stdout
Labels: asr

#614 Support for pointer to structs
  integration_tests/CMakeLists.txt
  integration_tests/structs_02.py
  integration_tests/structs_03.py
  src/libasr/asr_utils.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/reference/asr-structs_02-2ab459a.json
  tests/reference/asr-structs_02-2ab459a.stdout
  tests/reference/asr-structs_03-0cef911.json
  tests/reference/asr-structs_03-0cef911.stdout
  tests/tests.toml
Labels: asr, llvm

#615 Uniform semantic errors in string slicing .
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/errors/test_str_slicing2.py
  tests/errors/test_str_slicing3.py
  tests/reference/asr-test_str_slicing2-2f07e9a.json
  tests/reference/asr-test_str_slicing2-2f07e9a.stderr
  tests/reference/asr-test_str_slicing3-fe6a03c.json
  tests/reference/asr-test_str_slicing3-fe6a03c.stderr
  tests/tests.toml
Labels: asr

#621 Enabling `C` backend for structs
  .gitignore
  integration_tests/CMakeLists.txt
  integration_tests/structs_01.py
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  tests/reference/asr-structs_01-be14d49.json
  tests/reference/asr-structs_01-be14d49.stdout
Labels: c

#622 Supporting C-interop with array indices
  .gitignore
  integration_tests/CMakeLists.txt
  integration_tests/bindc_03.py
  integration_tests/bindc_03b.c
  integration_tests/bindc_03b.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/runtime/ltypes/ltypes.py
Labels: c, llvm

#624 [Parser] Add support for parsing prefixed strings
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/string1.py
  tests/reference/ast_new-string1-96b90b3.json
  tests/reference/ast_new-string1-96b90b3.stdout
  tests/tests.toml
Labels: Parser

#642 Fixing initialisation at declaration issues
  integration_tests/CMakeLists.txt
  integration_tests/expr_06.py
  integration_tests/structs_03.py
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/pass/class_constructor.cpp
  src/libasr/pass/pass_utils.h
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/reference/asr-assign2-8d1a2ee.json
  tests/reference/asr-assign2-8d1a2ee.stdout
  tests/reference/asr-structs_03-0cef911.json
  tests/reference/asr-structs_03-0cef911.stdout
Labels: c, asr, llvm

#655 Declare global variables globally
  .gitignore
  integration_tests/CMakeLists.txt
  integration_tests/expr_08.py
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
Labels: c

#662 Convert initialisation at declaration to assignments and fix Variable.value and Variable.m_symbolic_value settings
  integration_tests/CMakeLists.txt
  integration_tests/expr_07.py
  integration_tests/expr_09.py
  src/libasr/codegen/asr_to_llvm.cpp
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/reference/asr-assign2-8d1a2ee.json
  tests/reference/asr-assign2-8d1a2ee.stdout
  tests/reference/asr-expr_05-3a37324.json
  tests/reference/asr-expr_05-3a37324.stdout
  tests/reference/asr-expr_07-7742668.json
  tests/reference/asr-expr_07-7742668.stdout
  tests/reference/asr-expr_09-f3e89c8.json
  tests/reference/asr-expr_09-f3e89c8.stdout
  tests/reference/asr-structs_03-0cef911.json
  tests/reference/asr-structs_03-0cef911.stdout
  tests/reference/asr-test_bool_binop-f856ef0.json
  tests/reference/asr-test_bool_binop-f856ef0.stdout
  tests/reference/asr-test_builtin_pow-f02fcda.json
  tests/reference/asr-test_builtin_pow-f02fcda.stdout
  tests/reference/asr-test_c_interop_01-e374f43.json
  tests/reference/asr-test_c_interop_01-e374f43.stdout
  tests/reference/asr-test_max_min-3c2fc51.json
  tests/reference/asr-test_max_min-3c2fc51.stdout
  tests/reference/cpp-test_builtin_pow-56b3f92.json
  tests/reference/cpp-test_builtin_pow-56b3f92.stdout
  tests/tests.toml
Labels: asr, llvm

#668 Ignore return types by assigning to a dummy variable
  integration_tests/CMakeLists.txt
  integration_tests/expr_10.py
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/reference/asr-expr_10-d39708c.json
  tests/reference/asr-expr_10-d39708c.stdout
  tests/tests.toml
Labels: asr

#672 `__lpython_dummy` -> `__lcompilers_dummy` for ignoring return values of function calls
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/reference/asr-expr_10-d39708c.json
  tests/reference/asr-expr_10-d39708c.stdout
Labels: asr

#674 Adds support for str type to ccall
  integration_tests/test_c_interop_02.py
  integration_tests/test_c_interop_02b.c
  integration_tests/test_c_interop_02b.h
  src/libasr/codegen/asr_to_c.cpp
  src/runtime/ltypes/ltypes.py
Labels: cpython

#682 [Parser] Parse conditional expressions
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/statements1.py
  tests/reference/ast_new-statements1-e081093.json
  tests/reference/ast_new-statements1-e081093.stdout
Labels: Parser

#675 Initial support for automatic vectorisation of loops
  integration_tests/CMakeLists.txt
  integration_tests/vec_01.py
  run_tests.py
  src/bin/lpython.cpp
  src/libasr/CMakeLists.txt
  src/libasr/asr_utils.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/pass/loop_unroll.cpp
  src/libasr/pass/loop_vectorise.cpp
  src/libasr/pass/loop_vectorise.h
  src/libasr/pass/pass_utils.cpp
  src/libasr/pass/pass_utils.h
  tests/reference/asr-vec_01-66ac423.json
  tests/reference/asr-vec_01-66ac423.stdout
  tests/reference/pass_loop_vectorise-vec_01-be9985e.json
  tests/reference/pass_loop_vectorise-vec_01-be9985e.stdout
  tests/tests.toml
Labels: asr, asr_pass

#695 Parse ConstantBytes in the parser
  grammar/Python.asdl
  src/lpython/parser/semantics.h
  src/runtime/lpython_parser.py
  tests/parser/string1.py
  tests/reference/ast_new-string1-96b90b3.json
  tests/reference/ast_new-string1-96b90b3.stdout
Labels: Parser

#686 [Parser] Parse list comprehension
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/comprehension1.py
  tests/reference/ast_new-comprehension1-69cf2af.json
  tests/reference/ast_new-comprehension1-69cf2af.stdout
  tests/tests.toml
Labels: Parser

#706 Add pass manager to LPython
  src/bin/lpython.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/asr_to_llvm.h
  src/libasr/pass/pass_manager.h
  src/lpython/python_evaluator.cpp
  src/lpython/python_evaluator.h
Labels: asr, asr_pass, optimization

#707 Adding support for Structs inside Structs
  integration_tests/CMakeLists.txt
  integration_tests/structs_04.py
  src/bin/lpython.cpp
  src/libasr/asr_utils.cpp
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/reference/asr-structs_04-387747b.json
  tests/reference/asr-structs_04-387747b.stdout
  tests/tests.toml
Labels: asr, llvm, asr_pass
