Repository lcompilers/lpython, pull requests merged in 2022-09, with the labels that each got.

#1070 [Parser] Fix issue with different indentation type within the same file
  src/lpython/parser/tokenizer.h
  src/lpython/parser/tokenizer.re
  tests/reference/tokens-indent1-0b243c5.json
  tests/reference/tokens-indent1-0b243c5.stderr
  tests/reference/tokens-indent2-a8438a0.json
  tests/reference/tokens-indent2-a8438a0.stderr
  tests/tests.toml
  tests/tokens/errors/indent1.py
  tests/tokens/errors/indent2.py
Labels: Parser

#1067 Floor division 9 digits test case
  integration_tests/expr_04.py
  src/libasr/codegen/asr_to_c_cpp.h
  src/runtime/lpython_builtin.py
  tests/reference/cpp-expr8-704cece.json
  tests/reference/cpp-expr8-704cece.stdout
  tests/reference/cpp-test_builtin_pow-56b3f92.json
  tests/reference/cpp-test_builtin_pow-56b3f92.stdout
Labels: c, tests, cpp

#1084 Recognize Await expr in the expr definition
  src/lpython/parser/parser.yy
  src/lpython/parser/tokenizer.re
  tests/parser/async1.py
  tests/parser/statements2.py
  tests/reference/ast_new-async1-b3d07ed.json
  tests/reference/ast_new-async1-b3d07ed.stdout
  tests/reference/ast_new-statements2-c4cdc5f.json
  tests/reference/ast_new-statements2-c4cdc5f.stdout
Labels: Parser

#1066 Implement separate chaining collision resolution for ``dict``
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
Labels: llvm

#1090 Use ``urem`` for obtaining positive hashes for integers keys
  integration_tests/CMakeLists.txt
  integration_tests/test_dict_05.py
  src/libasr/codegen/llvm_utils.cpp
Labels: llvm

#1047 WASM: Support wasm as compilation target
  .gitignore
  integration_tests/CMakeLists.txt
  integration_tests/run_tests.sh
  src/bin/lpython.cpp
  src/libasr/codegen/asr_to_wasm.cpp
Labels: wasm

#1055 WASM: Define EMSCRIPTEN_KEEPALIVE functions to be used by Web-Frontend
  src/bin/lpython.cpp
Labels: wasm, wat

#1085 PASS: print list
  integration_tests/CMakeLists.txt
  integration_tests/print_02.py
  run_tests.py
  src/libasr/CMakeLists.txt
  src/libasr/pass/pass_manager.h
  src/libasr/pass/print_list.cpp
  src/libasr/pass/print_list.h
  tests/reference/asr-print_02-afbe092.json
  tests/reference/asr-print_02-afbe092.stdout
  tests/reference/pass_print_list-print_02-d2853f6.json
  tests/reference/pass_print_list-print_02-d2853f6.stdout
  tests/tests.toml
Labels: asr_pass

#1120 [Parser] Fix issue with empty dictionary indexing
  src/lpython/parser/parser.yy
  tests/parser/lambda2.py
  tests/reference/ast_new-lambda2-d84336e.json
  tests/reference/ast_new-lambda2-d84336e.stdout
Labels: Parser

#1127 Refactor the with_stmt grammar definition
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/with1.py
  tests/reference/ast_new-with1-6c88c0f.json
  tests/reference/ast_new-with1-6c88c0f.stdout
Labels: Parser

#1110 Implement If_stmt and loop API in the LLVM backend
  src/libasr/codegen/asr_to_llvm.cpp
Labels: llvm

#1099 Implement negative indexing in Lists
  integration_tests/test_list_01.py
  src/lpython/semantics/python_ast_to_asr.cpp
Labels: asr

#1137 Implement C backend for complex numbers
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
Labels: c

#1095 List in C/C++ backend
  integration_tests/CMakeLists.txt
  src/libasr/asr_utils.h
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  tests/reference/c-print_01-4d44628.json
  tests/reference/c-print_01-4d44628.stdout
Labels: c

#1141 Fix some parser related issues
  src/lpython/parser/parser.yy
  src/lpython/parser/semantics.h
  tests/parser/statements1.py
  tests/parser/type_comment1.py
  tests/reference/ast_new-function_def2-52c4587.json
  tests/reference/ast_new-function_def2-52c4587.stdout
  tests/reference/ast_new-function_def3-f66064a.json
  tests/reference/ast_new-function_def3-f66064a.stdout
  tests/reference/ast_new-lambda2-d84336e.json
  tests/reference/ast_new-lambda2-d84336e.stdout
  tests/reference/ast_new-statements1-e081093.json
  tests/reference/ast_new-statements1-e081093.stdout
  tests/reference/ast_new-type_comment1-710ea6c.json
  tests/reference/ast_new-type_comment1-710ea6c.stdout
Labels: Parser

#1138 C: Fix negative string index
  integration_tests/test_str_03.py
  src/lpython/semantics/python_ast_to_asr.cpp
Labels: bug, c

#1148 Recognize Match Statement
  src/lpython/parser/parser.yy
  src/lpython/parser/parser_stype.h
  src/lpython/parser/semantics.h
  src/lpython/parser/tokenizer.re
  tests/parser/match_stmt1.py
  tests/reference/ast_new-match_stmt1-9e84d24.json
  tests/reference/ast_new-match_stmt1-9e84d24.stdout
  tests/tests.toml
Labels: Parser

#1155 [Tokenizer] Use `strtod` to convert string to real
  src/lpython/parser/tokenizer.re
  tests/reference/tokens-numbers1-589063f.json
  tests/reference/tokens-numbers1-589063f.stdout
  tests/tokens/numbers1.py
Labels: Parser

#1159 Fix For Loop
  integration_tests/CMakeLists.txt
  integration_tests/test_for_loop.py
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/errors/test_for1.py
  tests/errors/test_for2.py
  tests/reference/asr-test_for1-260404e.json
  tests/reference/asr-test_for1-260404e.stderr
  tests/reference/asr-test_for2-e5d893f.json
  tests/reference/asr-test_for2-e5d893f.stderr
  tests/tests.toml
Labels: bug

#1163 Implement ``goto`` in LPython
  integration_tests/CMakeLists.txt
  integration_tests/test_01_goto.py
  src/libasr/ASR.asdl
  src/libasr/asr_utils.h
  src/libasr/codegen/asr_to_c.cpp
  src/lpython/semantics/python_ast_to_asr.cpp
  src/runtime/ltypes/goto.py
  src/runtime/ltypes/ltypes.py
  tests/errors/test_goto.py
  tests/reference/asr-test_goto-ba9fd22.json
  tests/reference/asr-test_goto-ba9fd22.stderr
  tests/reference/pass_inline_function_calls-func_inline_01-8b6a5da.json
  tests/reference/pass_inline_function_calls-func_inline_01-8b6a5da.stdout
  tests/tests.toml
Labels: c, asr

#1165 C: Fix a bug which has `main` function in python
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_c_cpp.h
  tests/reference/c-test_issue_518-fbbd299.json
  tests/reference/c-test_issue_518-fbbd299.stdout
Labels: c
