Repository lcompilers/lpython, pull requests merged in 2022-12, with the labels that each got.

#1345 [ASR Pass]: Fix List Concat and List Section
  integration_tests/test_list_09.py
  integration_tests/test_list_10.py
  src/libasr/pass/pass_list_expr.cpp
Labels: ready for review, asr_pass

#456 Add dist() function in math.py
  integration_tests/test_math.py
  src/runtime/math.py
Labels: ready for review

#1360 WASM_X64: Support Integer Operations
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/x86_assembler.h
Labels: wasm_x64

#1361 WASM_X64: Support local variables
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/x86_assembler.h
Labels: wasm_x64

#1363 C: Implement Tuple/List Compare
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/c_utils.h
Labels: ready for review, c

#1370 Fix List Section pass to handle negative slice values
  integration_tests/CMakeLists.txt
  integration_tests/test_list_section.py
  src/libasr/pass/pass_list_expr.cpp
Labels: asr_pass

#1366 CI: Fix warnings
  .github/workflows/CI.yml
Labels: CI, ready for review

#1359 [LLVM]: Implement Tuple/List Compare
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
  src/libasr/pass/pass_manager.h
Labels: ready for review, llvm

#1354 WASM_X64: Fix asm text format
  src/libasr/codegen/asr_to_x86.cpp
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/wasm_to_x86.cpp
  src/libasr/codegen/x86_assembler.cpp
  src/libasr/codegen/x86_assembler.h
  src/lpython/tests/test_asm.cpp
Labels: wasm_x64

#1364 WASM_X64: Initial support for printing string
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/x86_assembler.cpp
  src/libasr/codegen/x86_assembler.h
Labels: wasm_x64

#1365 WASM_X64: Support initial testing infrastructure
  ci/test.xsh
  integration_tests/CMakeLists.txt
  integration_tests/run_tests_new.py
  src/libasr/codegen/asr_to_x86.cpp
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/wasm_to_x86.cpp
Labels: CI, tests, wasm_x64

#1377 Add docs in pass_compare
  src/libasr/pass/pass_compare.cpp
Labels: documentation, asr_pass

#1379 WASM_X64: Support printing integers
  integration_tests/CMakeLists.txt
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/x86_assembler.cpp
  src/libasr/codegen/x86_assembler.h
Labels: wasm_x64

#1389 C: Enable list section test
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
Labels: c

#1352 Modify the handling of exit code in lpython.cpp
  src/bin/lpython.cpp
  src/lpython/utils.cpp
  src/lpython/utils.h
  tests/reference/runtime-test_quit_01-e98257c.json
Labels: ready for review

#1383 Implement `argv` in `sys` to get command line arguments
  integration_tests/CMakeLists.txt
  integration_tests/test_argv_01.py
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/runtime/lfortran_intrinsics.c
  src/libasr/runtime/lfortran_intrinsics.h
  src/runtime/sys.py
  tests/reference/asr-loop2-e874469.json
  tests/reference/asr-loop2-e874469.stdout
  tests/reference/c-loop2-ce7de51.json
  tests/reference/c-loop2-ce7de51.stdout
  tests/reference/cpp-loop2-0686fc4.json
  tests/reference/cpp-loop2-0686fc4.stdout
  tests/reference/llvm-assert1-8df4f31.json
  tests/reference/llvm-assert1-8df4f31.stdout
  tests/reference/llvm-bindc_01-c984f09.json
  tests/reference/llvm-bindc_01-c984f09.stdout
  tests/reference/llvm-bool1-af4376b.json
  tests/reference/llvm-bool1-af4376b.stdout
  tests/reference/llvm-expr14-b96b5b1.json
  tests/reference/llvm-expr14-b96b5b1.stdout
  tests/reference/llvm-expr_01-54467c1.json
  tests/reference/llvm-expr_01-54467c1.stdout
  tests/reference/llvm-func_inline_01-2d4583a.json
  tests/reference/llvm-func_inline_01-2d4583a.stdout
  tests/reference/llvm-ltypes1-dacf939.json
  tests/reference/llvm-ltypes1-dacf939.stdout
  tests/reference/llvm-print_04-443a8d8.json
  tests/reference/llvm-print_04-443a8d8.stdout
  tests/reference/llvm-test_integer_bitnot-6894b6d.json
  tests/reference/llvm-test_integer_bitnot-6894b6d.stdout
  tests/reference/llvm-test_issue_518-cdb641a.json
  tests/reference/llvm-test_issue_518-cdb641a.stdout
  tests/reference/llvm_dbg-expr_01-9fc5f30.json
  tests/reference/llvm_dbg-expr_01-9fc5f30.stdout
Labels: ready for review
