Repository lcompilers/lpython, pull requests merged in 2022-11, with the labels that each got.

#1252 ASR: Support Array storage order
  src/libasr/ASR.asdl
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/pass/implied_do_loops.cpp
  src/libasr/pass/instantiate_template.cpp
  src/libasr/pass/pass_utils.cpp
  src/lpython/semantics/python_ast_to_asr.cpp
  tests/reference/asr-array_01_decl-39cf894.json
  tests/reference/asr-array_01_decl-39cf894.stdout
  tests/reference/asr-array_02_decl-e8f6874.json
  tests/reference/asr-array_02_decl-e8f6874.stdout
  tests/reference/asr-bindc_02-bc1a7ea.json
  tests/reference/asr-bindc_02-bc1a7ea.stdout
  tests/reference/asr-doconcurrentloop_01-3fdc189.json
  tests/reference/asr-doconcurrentloop_01-3fdc189.stdout
  tests/reference/asr-elemental_01-b58df26.json
  tests/reference/asr-elemental_01-b58df26.stdout
  tests/reference/asr-expr_12-6769be0.json
  tests/reference/asr-expr_12-6769be0.stdout
  tests/reference/asr-generics_array_01-682b1b2.json
  tests/reference/asr-generics_array_01-682b1b2.stdout
  tests/reference/asr-generics_array_02-22c8dc1.json
  tests/reference/asr-generics_array_02-22c8dc1.stdout
  tests/reference/asr-generics_array_03-fb3706c.json
  tests/reference/asr-generics_array_03-fb3706c.stdout
  tests/reference/asr-structs_05-fa98307.json
  tests/reference/asr-structs_05-fa98307.stdout
  tests/reference/asr-subscript1-1acfc19.json
  tests/reference/asr-subscript1-1acfc19.stdout
  tests/reference/asr-test_numpy_03-e600a49.json
  tests/reference/asr-test_numpy_03-e600a49.stdout
  tests/reference/asr-test_numpy_04-ecbb614.json
  tests/reference/asr-test_numpy_04-ecbb614.stdout
  tests/reference/asr-vec_01-66ac423.json
  tests/reference/asr-vec_01-66ac423.stdout
  tests/reference/pass_loop_vectorise-vec_01-be9985e.json
  tests/reference/pass_loop_vectorise-vec_01-be9985e.stdout
Labels: ready for review, asr

#1281 [ASR] Implement nested modules import
  integration_tests/CMakeLists.txt
  integration_tests/test_import/import_module_01/__init__.py
  integration_tests/test_import/import_module_01/test_import_4.py
  integration_tests/test_import/import_module_02/__init__.py
  integration_tests/test_import/import_module_02/test_import_3.py
  integration_tests/test_import_02.py
  src/lpython/semantics/python_ast_to_asr.cpp
Labels: asr

#1270 Allow integrations tests to run with selected backends
  .gitignore
  ci/test.xsh
  integration_tests/run_tests_new.py
Labels: enhancement, ready for review

#1275 [ASR]: Fix character types
  src/lpython/semantics/python_ast_to_asr.cpp
  src/lpython/semantics/python_comptime_eval.h
  src/lpython/semantics/python_intrinsic_eval.h
  tests/reference/asr-constants1-5828e8a.json
  tests/reference/asr-constants1-5828e8a.stdout
  tests/reference/asr-expr_07-7742668.json
  tests/reference/asr-expr_07-7742668.stdout
  tests/reference/asr-test_builtin_bin-52ba9fa.json
  tests/reference/asr-test_builtin_bin-52ba9fa.stdout
  tests/reference/asr-test_builtin_hex-64bd268.json
  tests/reference/asr-test_builtin_hex-64bd268.stdout
  tests/reference/asr-test_builtin_oct-20b9066.json
  tests/reference/asr-test_builtin_oct-20b9066.stdout
  tests/reference/asr-test_builtin_str-580e920.json
  tests/reference/asr-test_builtin_str-580e920.stdout
Labels: bug, ready for review, asr

#1286 Support `-I` option to specify import path for the nested modules.
  src/lpython/semantics/python_ast_to_asr.cpp
Labels: asr

#1264 Implement if-else in wasm_to_x86 backend
  integration_tests/if_01.py
  src/bin/lpython.cpp
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/asr_to_x86.cpp
  src/libasr/codegen/asr_to_x86.h
  src/libasr/codegen/wasm_to_x86.cpp
  tests/reference/wat-loop1-e0046d4.json
  tests/reference/wat-loop1-e0046d4.stdout
Labels: ready for review, wasm_x86

#1276 Implement Integer compare in wasm to x86 backend
  integration_tests/if_02.py
  src/libasr/codegen/wasm_to_x86.cpp
Labels: ready for review, wasm_x86

#1279 ASR: Constant string attributes refactoring
  integration_tests/test_str_attributes.py
  src/lpython/semantics/python_ast_to_asr.cpp
  src/lpython/semantics/python_comptime_eval.h
Labels: ready for review

#1265 WASM_X86: Initial support for print_str
  src/libasr/codegen/wasm_to_x86.cpp
Labels: wasm_x86

#1277 WASM, X86: Support functions order
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/asr_to_x86.cpp
  tests/reference/wat-bool1-234bcd1.json
  tests/reference/wat-bool1-234bcd1.stdout
  tests/reference/wat-expr9-f73afd1.json
  tests/reference/wat-expr9-f73afd1.stdout
  tests/reference/wat-loop1-e0046d4.json
  tests/reference/wat-loop1-e0046d4.stdout
Labels: wasm, x86

#1262 CI: Support integration_tests for X86 and WASM_X86 backends
  .gitignore
  ci/test.xsh
  integration_tests/CMakeLists.txt
  integration_tests/print_03.py
  integration_tests/run_tests.sh
  integration_tests/run_tests_new.py
Labels: wasm_x86

#1093 Add Index bounds checking option to check the `out of range` in lists
  src/bin/lpython.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
  src/libasr/utils.h
  tests/reference/runtime-test_assert_01-ae5aab1.json
  tests/reference/runtime-test_assert_01-ae5aab1.stderr
  tests/reference/runtime-test_assert_02-987f4b4.json
  tests/reference/runtime-test_assert_02-987f4b4.stderr
  tests/reference/runtime-test_list_01-3ee9b3e.json
  tests/reference/runtime-test_list_01-3ee9b3e.stderr
  tests/reference/runtime-test_list_02-5f7db5f.json
  tests/reference/runtime-test_list_02-5f7db5f.stderr
  tests/reference/runtime-test_quit_01-e98257c.json
  tests/reference/runtime-test_quit_01-e98257c.stderr
  tests/reference/runtime-test_raise_01-9cb725a.json
  tests/reference/runtime-test_raise_01-9cb725a.stderr
  tests/runtime_errors/test_assert_01.py
  tests/runtime_errors/test_assert_02.py
  tests/runtime_errors/test_list_02.py
  tests/runtime_errors/test_quit_01.py
  tests/runtime_errors/test_raise_01.py
  tests/tests.toml
Labels: ready for review, llvm

#1255 C: Codegen to Compare data types
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/c_utils.h
Labels: ready for review, c

#1285 WASM_X86: Support exit code
  integration_tests/CMakeLists.txt
  src/libasr/codegen/wasm_to_x86.cpp
  src/libasr/codegen/x86_assembler.cpp
  src/libasr/codegen/x86_assembler.h
Labels: wasm_x86

#1290 Implement Loop statement
  integration_tests/CMakeLists.txt
  integration_tests/if_01.py
  integration_tests/if_02.py
  integration_tests/loop_02.py
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/wasm_to_x86.cpp
  tests/reference/wat-loop1-e0046d4.json
  tests/reference/wat-loop1-e0046d4.stdout
Labels: ready for review, wasm_x86

#1306 Move nested modules handling into a separate function
  integration_tests/CMakeLists.txt
  integration_tests/test_import_01.py
  integration_tests/test_import_03.py
  src/lpython/semantics/python_ast_to_asr.cpp
  src/lpython/utils.cpp
  src/lpython/utils.h
Labels: ready for review, asr

#1311 WASM_X86: Support printing negative integers
  integration_tests/print_03.py
  src/libasr/codegen/x86_assembler.cpp
Labels: ready for review, wasm_x86

#1303 C: Fix errors due to const tuple name
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_c_cpp.h
Labels: c

#1315 Use replace_regex to replace all occurrences of "." with "/"
  integration_tests/test_import_03.py
  src/lpython/semantics/python_ast_to_asr.cpp
Labels: ready for review

#1302 Run the executable if no error
  src/bin/lpython.cpp
Labels: ready for review

#1297 Extend Location manger to handle multi-file import errors
  .gitignore
  src/bin/lpython.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/diagnostics.cpp
  src/libasr/diagnostics.h
  src/libasr/location.h
  src/libasr/lsp_interface.h
  src/lpython/parser/parser.cpp
  src/lpython/parser/parser.h
  src/lpython/parser/tokenizer.h
  src/lpython/parser/tokenizer.re
  src/lpython/semantics/python_ast_to_asr.cpp
  src/lpython/semantics/python_ast_to_asr.h
  src/lpython/tests/test_error_rendering.cpp
  tests/errors/test_import/__init__.py
  tests/errors/test_import/test_import_1.py
  tests/errors/test_import/test_import_2.py
  tests/errors/test_import_01.py
  tests/errors/test_import_02.py
  tests/reference/asr-test_import_01-b859c43.json
  tests/reference/asr-test_import_01-b859c43.stderr
  tests/reference/asr-test_import_02-55b47fa.json
  tests/reference/asr-test_import_02-55b47fa.stderr
  tests/tests.toml
Labels: enhancement, ready for review

#1324 C: Implement List Section
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/c_utils.h
Labels: ready for review, c

#1329 WASM_X86: Use alphabets and underscore for label names
  src/libasr/codegen/wasm_to_x86.cpp
  src/libasr/codegen/x86_assembler.cpp
Labels: wasm_x86

#288 Windows Build Issues fix
  .gitignore
  README.md
  build0_win.xsh
  build1.bat
  environment_unix.yml
  environment_win.yml
  src/bin/lpython.cpp
Labels: ready for review

#1335 WASM_X64: Initial backend
  src/bin/lpython.cpp
  src/libasr/CMakeLists.txt
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/wasm_to_x64.h
  src/libasr/codegen/x86_assembler.cpp
  src/libasr/codegen/x86_assembler.h
Labels: wasm_64
