Repository lcompilers/lpython, pull requests merged in 2023-02, with the labels that each got.

#1482 WASM, WASM_X64: Support shift operations
  integration_tests/bit_operations_i32.py
  integration_tests/bit_operations_i64.py
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/x86_assembler.h
Labels: wasm

#1463 Enable `run_tests` in Windows CI
  .gitattributes
  ci/test.xsh
  run_tests.py
  src/bin/lpython.cpp
  src/libasr/compiler_tester/tester.py
  src/lpython/parser/tokenizer.re
Labels: CI

#1495 Move tests/expr3.py to test errors
  tests/errors/type_mismatch.py
  tests/reference/asr-type_mismatch-61052c7.json
  tests/reference/asr-type_mismatch-61052c7.stderr
  tests/tests.toml
Labels: tests

#1455 C: Support generics
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
Labels: ready for review, c

#1506 LLVM: Support logical binop for strings, int, real
  integration_tests/CMakeLists.txt
  integration_tests/logical_binop1.py
  src/libasr/codegen/asr_to_llvm.cpp
Labels: ready for review

#1520 WASM: Support global section
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/wasm_assembler.h
  src/libasr/codegen/wasm_decoder.h
  src/libasr/codegen/wasm_to_wat.cpp
  src/libasr/codegen/wasm_utils.h
  tests/reference/wat-bool1-234bcd1.json
  tests/reference/wat-bool1-234bcd1.stdout
  tests/reference/wat-expr14-5e0cb96.json
  tests/reference/wat-expr14-5e0cb96.stdout
  tests/reference/wat-expr2-8b17723.json
  tests/reference/wat-expr2-8b17723.stdout
  tests/reference/wat-expr9-f73afd1.json
  tests/reference/wat-expr9-f73afd1.stdout
  tests/reference/wat-loop1-e0046d4.json
  tests/reference/wat-loop1-e0046d4.stdout
  tests/reference/wat-print_str-385e953.json
  tests/reference/wat-print_str-385e953.stdout
Labels: wasm, wat

#1525 ASR: Remove implicit casting in BinOp
  integration_tests/test_numpy_02.py
  src/lpython/semantics/python_ast_to_asr.cpp
  src/runtime/lpython_builtin.py
  tests/errors/test_binop3.py
  tests/reference/asr-test_binop3-a67201d.json
  tests/reference/asr-test_binop3-a67201d.stderr
  tests/tests.toml
Labels: asr

#1542 WASM: Use enum to improve performance
  src/libasr/codegen/asr_to_wasm.cpp
Labels: wasm

#1545 WASM: Refactor
  src/libasr/codegen/asr_to_wasm.cpp
Labels: wasm
