Repository lcompilers/lpython, pull requests merged in 2023-01, with the labels that each got.

#1390 WASM_X64: Support if else
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/wasm_to_x64.cpp
Labels: wasm_x64

#1327 WASM_X86: Support float types
  src/libasr/codegen/wasm_to_x86.cpp
  src/libasr/codegen/x86_assembler.cpp
  src/libasr/codegen/x86_assembler.h
Labels: wasm_x86

#1378 Order of declaration: Only include symbols if they are in scope
  integration_tests/CMakeLists.txt
  integration_tests/test_global_decl.py
  src/libasr/asr_utils.cpp
Labels: ready for review

#1407 WAT: Merge WATVisitor and WATGenerator classes
  src/libasr/codegen/wasm_to_wat.cpp
  src/libasr/codegen/wasm_to_wat.h
Labels: wasm, wat

#1408 WASM: Fix IntegerToLogical Conversion
  src/libasr/codegen/asr_to_wasm.cpp
Labels: wasm

#1399 WASM_X64: Support loops
  integration_tests/CMakeLists.txt
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/x86_assembler.h
Labels: wasm_x64

#1405 C: Add printing support for Lists
  integration_tests/CMakeLists.txt
  integration_tests/print_list_tuple.py
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/c_utils.h
Labels: c

#1402 WASM_X64: Initial support for floats
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/wasm_to_x86.cpp
  src/libasr/codegen/x86_assembler.cpp
  src/libasr/codegen/x86_assembler.h
Labels: wasm_x64

#1401 C: Fix strings allocation/declaration
  integration_tests/CMakeLists.txt
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/c_utils.h
  src/libasr/runtime/lfortran_intrinsics.c
  src/libasr/runtime/lfortran_intrinsics.h
  tests/reference/c-print_01-4d44628.json
  tests/reference/c-print_01-4d44628.stdout
Labels: c

#1415 WASM_X64, X86: Support recursive functions
  integration_tests/CMakeLists.txt
  integration_tests/recursive_01.py
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/wasm_to_x86.cpp
Labels: wasm_x86, wasm_x64

#1417 [ASR PASS]: Support printing multiple lists at a time
  integration_tests/print_02.py
  src/libasr/pass/pass_utils.cpp
  src/libasr/pass/pass_utils.h
  src/libasr/pass/print_list.cpp
  tests/reference/asr-print_02-afbe092.json
  tests/reference/asr-print_02-afbe092.stdout
  tests/reference/pass_print_list-print_02-d2853f6.json
  tests/reference/pass_print_list-print_02-d2853f6.stdout
Labels: enhancement, asr_pass

#1414 WASM_X64, X86: Use templates instead of strings
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/wasm_to_x86.cpp
Labels: wasm_x86, wasm_x64

#1422 WASM_X64,X86: Manipulate stack pointer using sub/add instructions
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/wasm_to_x86.cpp
  src/libasr/codegen/x86_assembler.cpp
  src/libasr/codegen/x86_assembler.h
Labels: wasm_x86, wasm_x64

#1344 Implement runtime stacktraces
  .github/workflows/CI.yml
  .gitignore
  CMakeLists.txt
  build1.sh
  ci/build.xsh
  run_tests.py
  src/bin/dat_convert.py
  src/bin/lpython.cpp
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/llvm_utils.h
  src/libasr/config.h.in
  src/libasr/runtime/lfortran_intrinsics.c
  src/libasr/runtime/lfortran_intrinsics.h
  src/lpython/python_evaluator.cpp
  src/runtime/legacy/CMakeLists.txt
  tests/reference/run_dbg-test_assert_01-2f34744.json
  tests/reference/run_dbg-test_assert_01-2f34744.stderr
  tests/reference/run_dbg-test_assert_02-c6de25a.json
  tests/reference/run_dbg-test_assert_02-c6de25a.stderr
  tests/reference/run_dbg-test_assert_03-bd7b7dd.json
  tests/reference/run_dbg-test_assert_03-bd7b7dd.stderr
  tests/reference/run_dbg-test_quit_01-30889cc.json
  tests/reference/run_dbg-test_quit_01-30889cc.stderr
  tests/reference/run_dbg-test_raise_01-dfd86ca.json
  tests/reference/run_dbg-test_raise_01-dfd86ca.stderr
  tests/runtime_errors/test_assert_03.py
  tests/tests.toml
Labels: enhancement, ready for review

#1431 [ASR PASS]: Fix printing of tuples
  integration_tests/print_02.py
  src/libasr/pass/print_list.cpp
  tests/reference/asr-print_02-afbe092.json
  tests/reference/asr-print_02-afbe092.stdout
  tests/reference/pass_print_list-print_02-d2853f6.json
  tests/reference/pass_print_list-print_02-d2853f6.stdout
Labels: asr_pass

#1448 WASM_X64: Print negative floats
  integration_tests/CMakeLists.txt
  integration_tests/comp_01.py
  integration_tests/print_float.py
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/x86_assembler.cpp
Labels: wasm_x64

#1450 Fix issues with variable/function declaration order
  integration_tests/CMakeLists.txt
  src/libasr/asr_utils.cpp
Labels: c, asr_utils

#1454 WASMDecoder: Replace while loop with individual decode intructions
  src/libasr/codegen/wasm_decoder.h
  tests/print_str.py
  tests/reference/wat-print_str-385e953.json
  tests/reference/wat-print_str-385e953.stdout
  tests/tests.toml
Labels: wasm, wat

#1456 WASM: Support bitwise operations
  integration_tests/CMakeLists.txt
  integration_tests/bit_operations_i32.py
  integration_tests/bit_operations_i64.py
  src/libasr/codegen/asr_to_wasm.cpp
Labels: wasm

#1481 WASM_X64: Support logical/bitwise opts
  integration_tests/CMakeLists.txt
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/x86_assembler.h
Labels: wasm_x64
