Repository lcompilers/lpython, pull requests merged in 2023-04, with the labels that each got.

#1636 C: Support passes
  src/bin/lpython.cpp
  src/libasr/codegen/asr_to_c.cpp
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/pass/pass_list_expr.cpp
  src/libasr/pass/pass_manager.h
Labels: c, asr_pass

#1706 Redesign nested_vars pass
  src/libasr/CMakeLists.txt
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/pass/nested_vars.cpp
  src/libasr/pass/nested_vars.h
  src/libasr/pass/pass_manager.h
Labels: ready for review, llvm, asr_pass

#1694 X64: Use Struct for ELF Ehdr and Phdr headers
  src/libasr/codegen/asr_to_wasm.cpp
  src/libasr/codegen/wasm_to_x64.cpp
  src/libasr/codegen/x86_assembler.cpp
  src/libasr/codegen/x86_assembler.h
Labels: ready for review, review_needed

#1700 C/LLVM: Fixes with dict get
  integration_tests/CMakeLists.txt
  integration_tests/test_dict_11.py
  src/libasr/codegen/asr_to_c_cpp.h
  src/libasr/codegen/asr_to_llvm.cpp
  src/libasr/codegen/c_utils.h
  src/libasr/codegen/llvm_utils.cpp
  src/libasr/codegen/llvm_utils.h
  tests/errors/test_dict14.py
  tests/reference/runtime-test_dict14-421fe53.json
  tests/reference/runtime-test_dict14-421fe53.stderr
  tests/tests.toml
Labels: c, llvm
